<div class="Center Wrapper">
    <div class="Center Title">
        Track
    </div>
    <br>
    <br>
    <br>
    <?php if (Session::$Model !== null):?>
    <table>
        <tr>
            <?php foreach (Session::$Model->Fields as $key=>$value):?>
            <td><?=Helper::SplitPascalCase($key)?></td>
            <td><?=$value->Value?></td>
            <?php endforeach?>
        </tr>
    </table>
    <?php else :?>

    <?php endif?>
    <div>
        <a class="Button" href="/Tracker/Index">Return</a>
    </div>
</div>