<div class="Center Wrapper">
    <div class="Center Title">
        Track
    </div>
    <br>
    <?php if (Session::$Model !== null):?>
    <table>
        <?php foreach (Session::$Model->Fields as $key=>$value):?>
        <tr>

            <td><?=Helper::SplitPascalCase($key)?></td>
            <td><?=$value->Value?></td>

        </tr>
        <?php endforeach?>
    </table>
    <?php else :?>
    <div>
        No Record Found
    </div>
    <?php endif?>
    <div>
        <a class="Button" href="/Tracker/Index">Return</a>
    </div>
</div>