<div class="Wrapper Center">

    <?php if (isset(Session::$Bag['LoggedIn']) == false || Session::$Bag['LoggedIn'] == false): ?>
        <form action="/Login/Index" method="post">
            Username: <input name="UserName" type="text">
            Password: <input name="Password" type="password">
            <input type="submit" class="Center" value="Login">
        </form>
        <div>Hint:</div>
        <div>Admin: Admin@Panda.Co Password</div>
        <div>Client: Test@Tester.Com test</div>
    <?php else: ?>
        <form action="/Login/Logout" method="post">
            <input type="submit" class="Center" value="Log out">
        </form>
    <?php endif ?>
</div>