<div class="Wrapper Center">
    <?Helper::PrintArray(Session::$Bag['LoggedIn'])?>
    <? if (isset(Session::$Bag['LoggedIn']) === false || Session::$Bag['LoggedIn'] === false): ?>
        <form action="/Login/Index" method="post">
            Username: <input name="UserName" type="text">
            Password: <input name="Password" type="password">
            <input type="submit" class="Center" value="Login">
        </form>
        <a class="Button" href="/Login/Create">Create Account</a>
    <? else: ?>
        <form action="/Login/Logout" method="post">
            <input type="submit" class="Center" value="Log out">
        </form>
    <? endif ?>

</div>