<form action="/Forms/Add" method="post">
    <table>
        <?php foreach (Session::$Model->Elements as $element):?>
            <tr class="<?=$element->Disabled ? "Hidden" : ""?>">
                <td><?=$element->Name?></td>
                <?php if ($element->InputType != 'select'):?>
                    <td>
                        <input type="<?=$element->InputType?>" name="<?=$element->Name?>"
                               maxlength="<?=$element->MaxLength?>" value="<?=$element->DefaultValue?>"
                        >
                    </td>
                <?php endif?>
                <?php if ($element->InputType == 'select'):?>
                    <td>
                        <select name="<?=$element->Name?>">
                            <?php foreach ($element->Values as $key => $value):?>
                                <option value="<?=$key?>"><?=$value?></option>
                            <?php endforeach?>
                        </select>
                    </td>
                <?php endif?>
            </tr>
        <?php endforeach?>
    </table>
    <input type="submit" value="Add Record">
</form>